.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  background-color: #fff;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.item button {
  border: none;
  cursor: pointer;
  border: 1px solid #dc2626;
  color: #dc2626;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}
.item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
